<title>
  <%= gettext(
        "Verified contracts - %{subnetwork} Explorer",
        subnetwork: ExplorerWeb.LayoutView.subnetwork_title()
    ) %>
</title>
<meta name="keywords" content="<%= gettext "Verified contracts, %{subnetwork}, %{coin}", subnetwork: ExplorerWeb.LayoutView.subnetwork_title(), coin: Explorer.coin() %>">
<meta name="description" content="<%= gettext "View the verified contracts on %{subnetwork}", subnetwork: ExplorerWeb.LayoutView.subnetwork_title() %>">
